     <div class="menu-container">                                                                                                                               <div onclick="get_chatDetails()" class="menu-item">                                                                                                         <i class="fa-solid fa-hand-holding-heart"></i>
            <span>Get Group And Members Id by Token</span>
        </div>
        <div class="menu-item" onclick="get_uid();">
            <i class="fa-solid fa-hands-holding-child"></i>
            <span>Get User Id By Profile Link</span>
        </div>                                                                                                                                                  <div class="menu-item" onclick="get_token();">
            <i class="fas fa-bookmark"></i>                                                                                                                         <span>Get FB Tocken</span>                                                                                                                          </div>                                                                                                                                                  <div onclick="GetLockDetails();" class="menu-item">
            <i class="fa-solid fa-lock"></i>                                                                                                                        <span>LockGroupName</span>                                                                                                                          </div>
        <div onclick="openSettings();" class="menu-item">                                                                                                           <i class="fas fa-cog"></i>
            <span>settings</span>                                                                                                                               </div>                                                                                                                                                  <div onclick="openCookiePage();" class="menu-item">                                                                                                         <i class="fa-solid fa-cookie"></i>                                                                                                                      <span>Check Cookies</span>                                                                                                                          </div>
        <div class="menu-item">                                                                                                                                     <i class="fas fa-history"></i>
            <span>Activity Log</span>
        </div>
        <div class="menu-item">                                                                                                                                     <i class="fas fa-shield-alt"></i>
            <span>Privacy</span>
        </div>                                                                                                                                                  <div class="menu-item">
            <i class="fas fa-info-circle"></i>
            <span>Help</span>
        </div>
        <div class="menu-item">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </div>
    </div>
</div>
<script src="/static/tab-6.js"></script>
<script>

function ssg(){
    console.log('inline script executed');
}

</script>